{% extends '::base.html.twig' %}

{% block body %}
	<div class="row">
					
		<div class="col-md-6 widget">
			<div class="widget-body">
				<p class="simplenav">
					<a href="/classifieds">Home</a> | 
					<a href="{{ path('cpana_classifieds_categories_index') }}">Categories</a> |
					<a href="{{ path('cpana_classifieds_countries_index') }}">All countries</a> |
					<a href="{{ path('cpana_classifieds_countries_regions') }}">Regions</a> 
				</p>
			</div>
		</div>
	</div>
	
{% block content %}{% endblock %}

{% endblock %}

